@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;


}

body {
  color: white;
  background-color: black;
  overflow-x: hidden;

}

.App {
  display: flex;
  flex-direction: column;
}

.movie {
  width: 250px;
  height: 460px;
  margin: .9rem;
  background-color: rgb(26, 24, 24);
  position: relative;
  overflow: hidden;
  transition: transform .5s ease-in-out;


}

img {
  max-width: 100%;

}

.movie-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.overlay {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  max-height: 100%;
  overflow: auto;
  padding: .5rem;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(102%);
  transition: transform .5s ease-in-out;


}

.overview {
  display: flex;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

.movie:hover {
  transform: scale(1.05, 1.05);
}
.movie:hover img{
  opacity: 40%;
}

.movie:hover .overlay {

  transform: translateY(0%);
}

.overview {
  position: absolute;
  right:0;
  left:0;
  bottom:0;
  left:0;
  display: flex;

}

.movie-info {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: rgb(53, 52, 52);
}

i {
  color: goldenrod;
  margin-right: .3em;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.header {
  margin: -5px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(26, 24, 24);
  padding: 1rem;
  display: flex;
  align-items: center;

}

.search-input {
  width: 30%;
  /* border-radius: 20px; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding: .5rem;
  outline: none;
  border-bottom: 1px solid goldenrod;

  background-color: transparent;
  margin-right: 1rem;
  color: white;
  font-family: inherit;
  font-size: 1.1em;
  position: relative;

}



.header h1 {
  color: goldenrod;
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

button{
  background-color: transparent;
  border: none;
  position: relative;
  right: 9vh;
  cursor: pointer;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo i{
  font-size: 2rem;
}

.tag {
  margin: .2rem;
  background-color: rgb(59, 58, 58);
  border-radius: 5px;
  padding: .5rem;
  font-weight: bold;
}

.tag.green {
  color: rgb(15, 160, 15);
}

.tag.yellow {
  color: rgb(192, 175, 24);
}

.tag.red {
  color: rgb(196, 15, 9);
}

.rating {
  display: flex;
  align-items: center;
}

@media screen and (max-width:768px) {
  body {
    font-size: .8em;
  }

  .App {
    display: inline-flex;
  }

  .movie {
    width: 150px;
    height: 310px;

  }
  .header {
    flex-direction: column;
  }
  

  .search-input {
    margin-top:1rem;
    width: 80%;
    border-radius: 20px;
    border : 1px solid goldenrod;

  }
  button{
   
   top: 1.5vh;
    
  }


}